<div class="jumbotron">
<h1>QUOTES APP</h1></div>
<hr>
<div class="head">
  <h1>Quotable Quotes</h1>
</div>

<hr>
<div class="container">
    <div class="row">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
<ul>
  <div class="hard">
    <div *ngFor='let quote of quotes;let i = index'>
         <li >{{quote.quote}} {{quote.author}} {{quote.submitter}} {{quote.completeDate}}</li>
         <button (click)='toogleDetails(i)'>See more</button>
         <app-quotes-details *ngIf="quote.showDescription" [quote]='quote'(isComplete)= 'completeQuote($event,i)'></app-quotes-details>
 <button type="button"  name="button">Upvote</button>
 <button type="button"  name="button">Downvote</button>

  </div>

</div>
</ul>
<p *ngIf='quotes.length > 5'>You have too many quotes</p>
</div>
